.hero-input {
  margin-top: 30px;
  padding: 2px;
}

.hero-input input,
.hero-input button {
  padding: 20px 40px;
  border: none;
}

.hero-input input {
  width: 40%;
}

.hero-input button {
  background-color: #24a45e;
  box-shadow: 0 1px 3px #1313ff;
}