.hero-root {
  width: 58%;
  margin: auto;
  color: #fbfcfd;
  text-align: center;
}

.hero-root h1 {
  font-size: 1.87rem;
  font-weight: 500;
  margin: 40px 35px 30px 0;
}

.hero-root p {
  font-size: 0.98rem;
  font-weight: 100;
}

.hero-root div {
  margin: 40px;
}

.hero-root div input {
  border: none;
  outline: none;
  line-height: 3rem;
  font-size: 1.1rem;
  transition: 0.4s;
}

.hero-root div input[type="email"] {
  background-color: rgba(251, 252, 253, 0.75);
  padding: 0 35px;
  border-radius: 2px 0 0 2px;
  box-shadow: -1px 1px 8px #2d38d4;
  width: 76%;
}

.hero-root div input[type="email"]:active,
.hero-root div input[type="email"]:focus {
  background-color: #fbfcfd;
}

.hero-root div input[type="button"] {
  padding: 0 40px;
  border-radius: 0 2px 2px 0;
  background-color: #5dad55;
  color: #fbfcfd;
  box-shadow: 1px 1px 8px #2d38d4;
  cursor: pointer;
}

.hero-root div input[type="button"]:hover,
.hero-root div input[type="button"]:active {
  opacity: 0.8;
  color: #0b0d0f;
}

@media (max-width: 840px) {
  .hero-root {
    width: 75%;
  }

  .hero-root h1 {
    font-size: 1.6rem;
    font-weight: 500;
    margin: 40px 0 30px;
  }

  .hero-root p {
    font-size: 0.95rem;
    font-weight: 300;
    letter-spacing: 1px;
  }

  .hero-root div input {
    line-height: 2.2rem;
    font-size: 1rem;
  }

  .hero-root div input[type="email"] {
    padding: 0 25px;
    width: 60%;
  }

  .hero-root div input[type="button"] {
    padding: 0 30px;
  }
}

@media (max-width: 580px) {
  .hero-root {
    width: 85%;
  }

  .hero-root h1 {
    font-size: 1.2rem;
    margin: 35px 0 30px;
  }

  .hero-root p {
    font-size: 0.8rem;
  }

  .hero-root div {
    margin: 40px;
  }

  .hero-root div input {
    line-height: 1.5rem;
    font-size: 0.7rem;
  }

  .hero-root div input[type="email"] {
    padding: 0 10px;
    width: 60%;
  }

  .hero-root div input[type="button"] {
    padding: 0 15px;
  }
}
