.navbar {
  display: flex;
  align-items: center;
}

.navbar > a {
  margin-left: 20px;
  padding: 10px 15px;
  background-color: #5dad55;
  color: #fbfcfd;
  border-radius: 5px;
  box-shadow: 0 1px 3px #2d38d4;
  font-size: 0.85rem;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.4s;
}

.navbar > a:hover,
.navbar > a:active {
  box-shadow: 0 1px 4px #fbfcfd;
}

@media (max-width: 820px) {
  .navbar > a {
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 0.75rem;
    letter-spacing: 0;
  }
}

@media (max-width: 580px) {
  .navbar > a {
    margin-left: 0px;
    padding: 3px 10px;
    font-size: 0.7rem;
    font-weight: 600;
  }
}
